<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abvn237.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_SMS" />
        <uses-permission android:name="android.permission.SEND_SMS" />
        <uses-permission android:name="android.permission.READ_SMS" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ValidateAccount"
            android:label="@string/title_activity_validate_account"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SocialMedia"
            android:label="@string/title_activity_social_media"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Expenditures"
            android:label="@string/title_activity_expenditures"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BankingStatement"
            android:label="@string/title_activity_banking_statement"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CashDeposit"
            android:label="@string/title_activity_cash_deposit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CashTransfer"
            android:label="@string/title_activity_cash_transfer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Logout"
            android:label="@string/title_activity_logout"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewGallery"
            android:label="@string/title_activity_view_gallery"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewStatement"
            android:label="@string/title_activity_view_statement"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".rowmodel"
            android:label="@string/title_activity_rowmodel"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeDays"
            android:label="@string/title_activity_three_days"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BalancePeriod"
            android:label="@string/title_activity_balance_period"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".showStatement"
            android:label="@string/title_activity_show_statement"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewExpenditures"
            android:label="@string/title_activity_view_expenditures"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeWeeks"
            android:label="@string/title_activity_three_weeks"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeMonths"
            android:label="@string/title_activity_three_months"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeYears"
            android:label="@string/title_activity_three_years"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NewsFeeds"
            android:label="@string/title_activity_news_feeds"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Period"
            android:label="@string/title_activity_period"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeWeekStatement"
            android:label="@string/title_activity_three_week_statement"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThreeMonthStatement"
            android:label="@string/title_activity_three_month_statement"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UpdateProfile"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RemoveProfile"
            android:label="@string/title_activity_remove_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
